:root {
  --logo-web: #2196f3;
  --logo-studio-hat: #000000;
  --background-global: #ffffff;
  --background-hero: #c4c4c4;
  --background-footer: #2f303a;
  --background-team: #f5f4fa;
  --color-primery-white: #ffffff;
  --color-title: #212121;
  --color-text: #757575;
  --color-border-header: #ececec;
  --color-border-potfolio: #eeeeee;
  --color-icon: #afb1b8;
  --hover-focus-button: #2196f3;
  --hover-text: rgba(33, 150, 243, 0.9);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--background-global);
  color: var(--color-text);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;

  margin: 0;
}

.container {
  width: 1200px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
}

/* Приховані заголовки, маркери списків, підкреслення посилань */

.hidden-title {
  color: transparent;
  font-size: 0;
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Логотип */

.logo-hat,
.logo-lower {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
}

.logo-web {
  color: var(--logo-web);
}

.logo-hat {
  color: var(--logo-studio-hat);

  margin-right: 92px;
}

.logo-lower {
  color: var(--color-primery-white);

  margin-top: 0;
}

/* Header - Шапка: меню, пошта і телефон */

.hat .container,
.hat-nav {
  display: flex;
  align-items: center;
}

.hat-navigation.list,
.hat-contact.list {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.hat-navigation > .item:not(:last-child),
.hat-contact > .item:not(:last-child) {
  margin-right: 50px;
}

.hat-navigation .link,
.hat-contact .link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  transition: color var(--transition);
}

.studio,
.portfolio,
.contact {
  color: var(--color-title);
}

.hat-contact.list {
  margin-left: auto;
}

.hat-contact .link {
  color: var(--color-text);

  display: flex;
  align-items: center;
}

.hat {
  border-bottom: 1px solid var(--color-border-header);
}

.hat .icon {
  margin-right: 10px;
  fill: currentColor;
}

.current.link {
  position: relative;
  transition: color var(--transition);
}

.current.link::after {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 4px;
  transform: translateY(-100%);

  content: "";
  display: flex;

  background: var(--hover-focus-button);
  border-radius: 2px;
}

/* Footer - Підвал: адреса, пошта і телефон */

.lower {
  background-color: var(--background-footer);

  font-size: 14px;
  line-height: 1.714;

  padding-top: 60px;
  padding-bottom: 60px;
}

.communication {
  width: 231px;
  margin-top: 20px;
}

.lower-contact .link {
  font-style: normal;

  display: block;
  padding: 0;
  margin: 0;
}

.lower-contact .house.link,
.lower-contact .lower-mail.link {
  margin-bottom: 9px;
  transition: color var(--transition);
}

.house {
  color: var(--color-primery-white);
}

.lower-mail,
.lower-tel {
  color: rgba(255, 255, 255, 0.6);
}

.lower .container {
  display: flex;
}

.lower .office.address {
  margin-right: 70px;
}

.lower .title {
  color: var(--color-primery-white);

  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 20px;
}

.lower .social.address {
  padding-top: 12px;
  margin-right: 93px;
}

.lower .social.list {
  display: flex;
}

.social.address .link {
  display: flex;

  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 50%;

  transition: background-color var(--transition);
}

.social.address .link:hover,
.social.address .link:focus {
  background-color: var(--hover-focus-button);
}

.lower .social.item:not(:last-child) {
  margin-right: 10px;
}

.subscribe.form .icon {
  padding-top: 12px;
}

.lower .subscribe.address {
  padding-top: 12px;
}

.lower .subscribe.form {
  display: flex;
}

.subscribe.form input {
  background-color: inherit;
  color: var(--color-primery-white);

  font-size: 16px;
  line-height: 1.25;

  width: 358px;
  max-height: 50px;

  padding: 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe.form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe.form .submit {
  background: var(--hover-focus-button);
  color: var(--color-primery-white);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;

  width: 200px;
  height: 50px;

  margin-left: 12px;
  padding: 10px 28px;
  border: 0;

  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.06em;

  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscribe.form .icon {
  margin-left: 10px;
  padding: 0;
}

/* Hover and Focus: navigation and contact */

.current,
.hat-navigation a:hover,
.hat-navigation a:focus,
.hat-contact a:hover,
.hat-contact a:focus,
.communication a:hover,
.communication a:focus {
  color: var(--hover-focus-button);
}

/* HOME PAGE - СТУДІЯ */

/* Hero */

.section.hero {
  max-width: 1600px;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--background-hero);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section.hero .title {
  max-width: 696px;

  color: var(--color-primery-white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 0 auto 30px auto;
}

.section.hero .push-open {
  background-color: var(--hover-focus-button);
  color: var(--color-primery-white);

  font-weight: 700;
  font-family: inherit;
  line-height: 1.875;
  align-items: center;
  letter-spacing: 0.06em;

  padding: 10px 32px;

  cursor: pointer;

  border-radius: 4px;
  border-color: transparent;
}

.section.hero .backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0.2);

  transition: scale var(--transition), opacity var(--transition);
}

.section.hero .is-hidden {
  visibility: inherit;
  opacity: 0;
  pointer-events: none;
  scale: 0;
}

.section.hero .modal {
  position: relative;

  max-width: 528px;
  width: 100%;
  max-height: 581px;
  height: 100%;

  margin: auto;
  padding: 40px;

  background-color: var(--background-global);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.section.hero .modal-title {
  color: var(--color-title);

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  margin-top: 0;
  margin-bottom: 12px;
}

.section.hero .modal-text,
.section.hero .modal-input {
  display: block;
  text-align: left;
}

.section.hero .modal-text {
  color: var(--color-text);

  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.section.hero .modal-input,
.section.hero .modal-feedback {
  width: 100%;

  margin-top: 4px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.section.hero .modal-input {
  height: 40px;

  margin-bottom: 10px;
  padding: 12px 16px 12px 42px;
}

.section.hero .modal-feedback {
  width: 100%;
  height: 120px;

  margin-bottom: 20px;
  padding: 12px 16px;

  resize: none;
}

.section.hero .modal-feedback::placeholder {
  color: rgba(117, 117, 117, 0.5);

  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.section.hero .falce-checkbox {
  position: relative;

  color: var(--color-text);

  font-size: 14px;
  line-height: 1.714;
  text-align: left;

  display: block;

  margin-top: 0;
  margin-bottom: 30px;
}

.falce-checkbox .input-checkbox {
  width: 16px;
  height: 15px;

  margin-left: 13px;
  margin-right: 7px;

  overflow: hidden;
}

.falce-checkbox .link-checkbox {
  color: var(--hover-focus-button);

  font-size: 14px;
  line-height: 1.714;

  text-decoration-line: underline;
}

.falce-checkbox .icon-true {
  position: absolute;
  top: 9px;
  left: 13px;
  transform: translate(0%, -50%);

  width: 16px;
  height: 15px;

  border: 2px solid #212121;
  border-radius: 2px;

  transition: background-color var(--transition), border var(--transition);
}

.input-checkbox:checked + .icon-true {
  background-color: var(--hover-focus-button);
  border-color: var(--hover-focus-button);
  background-size: contain;
}

.input-checkbox:checked {
  width: 0px;
  height: 0px;
  margin-right: 23px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0);
  overflow: hidden;
}

.input-checkbox:focus + .icon-true {
  border: 2px solid transparant;
}

.section.hero .modal-submit {
  width: 200px;
  height: 50px;

  background-color: var(--hover-focus-button);
  color: var(--color-primery-white);

  font-weight: 700;
  line-height: 1.875;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  padding: 10px 52px;

  cursor: pointer;

  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.section.hero .modal-text {
  position: relative;
}

.section.hero .icon {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(12px, -11px);
  fill: #212121;

  transition: fill var(--transition);
}

.section.hero .modal-input:focus + .icon {
  fill: var(--hover-focus-button);
}

.section.hero .modal-input:focus {
  border-color: var(--hover-focus-button);
}

.section.hero .push-close {
  position: absolute;
  top: 8px;
  right: 8px;

  margin: 0;
  padding: 0;
  border: 0;

  cursor: pointer;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: fill var(--transition);
}

.section.hero .push-close:hover .icon-close,
.section.hero .push-close:focus .icon-close {
  fill: var(--hover-focus-button);
}

.section.hero .icon-close {
  display: block;
  fill: #000000;
}

/* Особливості */

.section.features,
.section.team,
.section.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.features .list,
.section.service .list,
.section.team .list,
.section.clients .list {
  display: flex;
}

.section.features .item {
  width: 270px;
}

.section.features .item:not(:last-child),
.section.service .item:not(:last-child),
.section.clients .item:not(:last-child) {
  margin-right: 30px;
}

.section.features .icon-box {
  height: 120px;
  background-color: #f5f4fa;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;

  margin-bottom: 30px;
}

.section.features .title {
  color: var(--color-title);

  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}

.section.features .text {
  font-size: 14px;
  line-height: 1.714;

  margin-top: 0;
  margin-bottom: 0;
}

/* Послуги */

.section.service {
  padding-bottom: 94px;
}

.section.service .item {
  position: relative;
}

.service-img {
  display: block;
  text-align: center;
}

.our-service,
.our-team,
.our-clients {
  color: var(--color-title);

  font-size: 36px;
  line-height: 1.167;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.section.service .text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  color: var(--color-primery-white);
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;

  margin: 0;
  padding: 27px 5px;
}

/* Команда */

.section.team {
  background-color: var(--background-team);
}

.section.team .item:not(:last-child) {
  margin-right: 30px;
}

.team-img {
  display: block;
  text-align: center;

  margin-bottom: 30px;
}

.section.team .item {
  background-color: var(--background-global);

  padding-bottom: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section.team .title {
  color: var(--color-title);

  font-weight: 500;
  line-height: 1.188;
  text-align: center;

  margin-top: 0;
  margin-bottom: 10px;
}

.section.team .type {
  line-height: 1.188;
  text-align: center;

  margin-top: 0;
  margin-bottom: 16px;
}

.section.team .item .list {
  justify-content: center;
}

.section.team .social-item:not(:last-child) {
  margin-right: 10px;
}

.section.team .link {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  color: var(--color-icon);

  fill: currentColor;

  transition: background-color var(--transition), color var(--transition);
}

.section.team .link:hover,
.section.team .link:focus {
  background-color: var(--hover-focus-button);
  color: var(--color-primery-white);
}

/* Клієнти */

.section.clients .link {
  width: 170px;
  height: 92px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--color-icon);
  border-radius: 4px;

  fill: var(--color-icon);

  transition: border-color var(--transition), fill var(--transition);
}

.section.clients .link:hover,
.section.clients .link:focus {
  border-color: var(--hover-focus-button);
  fill: var(--hover-focus-button);
}

/* PAGE - ПОРТФОЛІО */

/* Портфоліо - Фільтр */

.section.works {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.works .filter.list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.filter.list > .item:not(:last-child) {
  margin-right: 8px;
}

.filter .push {
  color: var(--color-title);

  font-family: inherit;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;

  padding: 6px 22px;

  cursor: pointer;

  border-color: transparent;
  border-radius: 4px;

  transition: background-color var(--transition), color var(--transition),
    box-shadow var(--transition);
}

.filter .push:hover,
.filter .push:focus {
  background-color: var(--hover-focus-button);
  color: var(--color-primery-white);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Портфоліо - Фото і текст */

.section.works .works.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.works.list > .item {
  flex-basis: calc((100% - 60px) / 3);
  max-width: 370px;
}

.works.list .link {
  display: block;
  transition: box-shadow var(--transition);
}

.works-img {
  display: block;
  text-align: center;

  margin: 0;
}

.box-hover {
  position: relative;
  overflow: hidden;
}

.text-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: var(--hover-text);
  color: var(--color-primery-white);

  font-size: 18px;
  line-height: 1.556;

  margin: 0;
  padding: 63px 24px;

  transition: transform var(--transition);
}

.works.list .link:hover,
.works.list .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works.list .link:hover .text-hover,
.works.list .link:focus .text-hover {
  transform: translateY(-100%);
}

.section.works .text {
  padding: 20px 24px;

  border: 1px solid var(--color-border-potfolio);
}

.works .title {
  color: var(--color-title);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 0;
  margin-bottom: 4px;
}

.works .type {
  color: var(--color-text);

  line-height: 1.875;

  margin-top: 0;
  margin-bottom: 0;
}
